@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;1,600;1,700&display=swap');



@import './partials/customAntd.css';
@import './partials/core.css';
@import './partials/reposCard.css';
